$gold: #FEB322;

body, html {
    background: #F4E5A0;
    font-family: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif;
    font-style: italic;
    text-align: center;
}

a { color: #000 }

::selection {
    color: white;
    background: $gold;
}

.body-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding-top: 60px;
    font-size: 3rem;
}

.logotype {
    font-family: 'Romanesco', cursive;
    font-style: normal;
    font-size: 16rem;
    line-height: 0.4;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 500px;
    .title2 { color: $gold }
    ::selection { background: none; }
}

.invitation {
    margin-top: 45px;
    background: $gold;
    width: 100%;
    ::selection { background: black; }
}

.copyright {
    margin: 45px 0;
    font-size: 2rem;
}

.tilde {
    font-size: 20rem;
    line-height: 0.3;
    user-select: none;
    pointer-events: none;
}