$gold: #FEB322;

// smartphone css mixin
@mixin sm {
  @media (max-width: 414px) {
    @content;
  }
}

body, html {
    background: #F4E5A0;
    font-family: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif;
    font-style: italic;
    text-align: center;
    box-sizing: border-box;
}

a { color: #000 }

::selection {
    color: white;
    background: $gold;
}

.body-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding-top: 60px;
    font-size: 3rem;
}

.logotype {
    font-family: 'Romanesco', cursive;
    font-style: normal;
    font-size: 16rem;
    line-height: 0.4;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 580px;
    .title1 { z-index: 1 }
    .title2 { color: $gold }
    ::selection { background: none; }
}

.gallery {
    margin-top: 100px;
    img {
        width: 600px;
        height: 243px;
        @include sm {
            width: 1px;
        }
    }
}

.invitation {
    margin-top: 45px;
    padding: 45px 20px;
    background: $gold;
    width: 100%;
    ::selection { background: black; }
}

.copyright {
    margin: 45px 0;
    font-size: 2rem;
}

.tilde {
    font-size: 20rem;
    line-height: 0.3;
    user-select: none;
    pointer-events: none;
}
